src/main/resources/output.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/sdnList.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sdnList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="publshInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Publish_Date"/>
              <xs:element type="xs:short" name="Record_Count"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="sdnEntry" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="uid"/>
              <xs:element type="xs:string" name="lastName"/>
              <xs:element type="xs:string" name="firstName"/>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:string" name="remarks"/>
              <xs:element type="xs:string" name="sdnType"/>
              <xs:element name="akaList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="aka">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="uid"/>
                          <xs:element type="xs:string" name="type"/>
                          <xs:element type="xs:string" name="category"/>
                          <xs:element type="xs:string" name="firstName"/>
                          <xs:element type="xs:string" name="lastName"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="idList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="uid"/>
                          <xs:element type="xs:string" name="idType"/>
                          <xs:element type="xs:string" name="idNumber"/>
                          <xs:element type="xs:string" name="idCountry" minOccurs="0"/>
                          <xs:element type="xs:string" name="issueDate" maxOccurs="unbounded" minOccurs="0"/>
                          <xs:element type="xs:string" name="expirationDate"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="citizenshipList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="citizenship">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="uid"/>
                          <xs:element type="xs:string" name="country"/>
                          <xs:element type="xs:string" name="mainEntry"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="dateOfBirthList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="dateOfBirthItem">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="uid"/>
                          <xs:element type="xs:string" name="dateOfBirth"/>
                          <xs:element type="xs:string" name="mainEntry"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="placeOfBirthList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="placeOfBirthItem">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="uid"/>
                          <xs:element type="xs:string" name="placeOfBirth"/>
                          <xs:element type="xs:string" name="mainEntry"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="nationalityList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nationality">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="uid"/>
                          <xs:element type="xs:string" name="country"/>
                          <xs:element type="xs:string" name="mainEntry"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="programList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="program"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="addressList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="address">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="uid"/>
                          <xs:element type="xs:string" name="address1"/>
                          <xs:element type="xs:string" name="address2"/>
                          <xs:element type="xs:string" name="address3"/>
                          <xs:element type="xs:string" name="city"/>
                          <xs:element type="xs:string" name="stateOrProvince"/>
                          <xs:element type="xs:string" name="postalCode"/>
                          <xs:element type="xs:string" name="country"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>